body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchbar {
  position: relative;
}
.searchIcon {
  position: absolute;
  top: 20%;
  margin-left: 10px;
}
.searchInput {
  padding-left: 30px;
  height: 30px;
  width: 300px;
}

.list {
  width: 335px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.list__title {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  color: lightslategray
}

.list__wrapper {
  list-style: none;
  padding: 0
} 

.list__entry {
  padding-bottom: 10px;
  font-size: .9em;
}

